            <!--          <form th:action="@{/quizwithcrush}" method="post">-->

<!--            <div th:each="q , i : ${allquiz}">-->
<!--              <h3 th:text="${q.questionText}"></h3>-->
<!--                <input type="hidden" name="questionId" th:value="${q.id}">-->
<!--                <label>-->
<!--                    <input type="radio" name="selectedOption" th:value="${q.optionA}">-->
<!--                    <span th:text="${q.optionA}"></span>-->
<!--                </label>-->
<!--                <label>-->
<!--                    <input type="radio" name="selectedOption" th:value="${q.optionB}">-->
<!--                    <span th:text="${q.optionB}"></span>-->
<!--                </label>-->

<!--&lt;!&ndash;              <label>&ndash;&gt;-->
<!--&lt;!&ndash;                <input type="radio" th:name="'answer_' +${i.index}" th:value="${q.optionA}">&ndash;&gt;-->
<!--&lt;!&ndash;                <span th:text="${q.optionA}"></span>&ndash;&gt;-->
<!--&lt;!&ndash;              </label><br>&ndash;&gt;-->
<!--&lt;!&ndash;              <label>&ndash;&gt;-->
<!--&lt;!&ndash;                <input type="radio" th:name="'answer_' +${i.index}" th:value="${q.optionB}">&ndash;&gt;-->
<!--&lt;!&ndash;                <span th:text="${q.optionB}"></span>&ndash;&gt;-->
<!--&lt;!&ndash;              </label>&ndash;&gt;-->

<!--              <hr>-->
<!--            </div>-->
<!--            <button type="submit" value="Submit">Next</button>-->
<!--          </form>-->
